plantify_nodeRed.txt
[{"id":"1baddaabf6511b37","type":"tab","label":"plantify_ThingSpeak2.0","disabled":false,"info":"","env":[]},{"id":"912c802d3dcf862e","type":"serial in","z":"1baddaabf6511b37","name":"","serial":"99b0633030211818","x":710,"y":600,"wires":[["e17788c759b2fc6c"]]},{"id":"e305bc233fb660dd","type":"inject","z":"1baddaabf6511b37","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1290,"y":1220,"wires":[["a2beabda13f15de0"]]},{"id":"a2beabda13f15de0","type":"function","z":"1baddaabf6511b37","name":"Sending Sensors Values to the API","func":"msg.method = \"GET\";\nmsg.url = \"https://api.thingspeak.com/update?api_key=N3YCREGBVZ54GB0X&field1=\" + context.flow.hum + \"&field2=\" + context.flow.temp + \"&field3=\" + context.flow.lm_temp + \"&field4=\" + context.flow.soil + \"&field5=\" + context.flow.water + \"&field6=\" + context.flow.light;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":1260,"wires":[["7e4a5591bab208f3"]]},{"id":"7e4a5591bab208f3","type":"http request","z":"1baddaabf6511b37","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1950,"y":1220,"wires":[["bed4c1505820dc29"]]},{"id":"e17788c759b2fc6c","type":"function","z":"1baddaabf6511b37","name":"Receive data from Arduino ","func":"var data = msg.payload.split(',');\nvar humiduty = { payload: parseFloat(data[0]) };\nvar temp = { payload: parseFloat(data[1]) };\nvar lm_temp = { payload: parseFloat(data[2]) };\nvar soil = { payload: parseFloat(data[3]) };\nvar light = { payload: parseFloat(data[4]) };\nvar water_level = { payload: parseFloat(data[5]) };\n\nreturn [humiduty , temp , lm_temp , soil , light , water_level];\n","outputs":6,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":600,"wires":[["0b7aac9c62af44e6"],["d631af854cdfdd12"],["1681eda387c04a29"],["7ff38681229f5bf4"],["37e62a68216c0fe3"],["9497d0282334d2b8"]]},{"id":"014864aac3cabed4","type":"ui_chart","z":"1baddaabf6511b37","name":"","group":"88f1d0402e673684","order":13,"width":0,"height":0,"label":"LM temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-20","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1600,"y":480,"wires":[[]]},{"id":"15fa8a651b691c2c","type":"ui_chart","z":"1baddaabf6511b37","name":"","group":"4b69b8fbb806518a","order":13,"width":0,"height":0,"label":"Soil moisture","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1570,"y":660,"wires":[[]]},{"id":"8b89c3afd5861383","type":"ui_gauge","z":"1baddaabf6511b37","name":"","group":"88f1d0402e673684","order":4,"width":0,"height":0,"gtype":"gage","title":"LM temp","label":"units","format":"{{value}}C","min":"-20","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1580,"y":560,"wires":[]},{"id":"805688074d30564c","type":"ui_gauge","z":"1baddaabf6511b37","name":"","group":"4b69b8fbb806518a","order":4,"width":0,"height":0,"gtype":"gage","title":"Soil Moisture","label":"units","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1570,"y":700,"wires":[]},{"id":"0b7aac9c62af44e6","type":"function","z":"1baddaabf6511b37","name":"Extract Humdity value","func":"context.flow.hum  = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":280,"wires":[["1cf942badb7ed905","fd02c270bbdd1f99"]]},{"id":"d631af854cdfdd12","type":"function","z":"1baddaabf6511b37","name":"Extract Temprature value","func":"context.flow.temp  = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1350,"y":400,"wires":[["6a3e2e8fb99e206d","21201f674655d774"]]},{"id":"1681eda387c04a29","type":"function","z":"1baddaabf6511b37","name":"Extract LM_temprature value","func":"context.flow.lm_temp  = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":520,"wires":[["014864aac3cabed4","8b89c3afd5861383"]]},{"id":"7ff38681229f5bf4","type":"function","z":"1baddaabf6511b37","name":"Extract Soil value","func":"context.flow.soil  = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1330,"y":680,"wires":[["15fa8a651b691c2c","805688074d30564c"]]},{"id":"42724f956845faa8","type":"ui_chart","z":"1baddaabf6511b37","name":"","group":"cf128d67433935a5","order":13,"width":0,"height":0,"label":"Light ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1570,"y":800,"wires":[[]]},{"id":"8299dd71268890ef","type":"ui_gauge","z":"1baddaabf6511b37","name":"","group":"cf128d67433935a5","order":4,"width":0,"height":0,"gtype":"gage","title":"Light","label":"units","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1570,"y":840,"wires":[]},{"id":"37e62a68216c0fe3","type":"function","z":"1baddaabf6511b37","name":"Extract Light intensty value","func":"context.flow.light  = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":820,"wires":[["42724f956845faa8","8299dd71268890ef"]]},{"id":"ebc6b0f23cdf640e","type":"ui_chart","z":"1baddaabf6511b37","name":"","group":"4c4e8d03fbc642e2","order":13,"width":0,"height":0,"label":"Water level","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1590,"y":960,"wires":[[]]},{"id":"227bc61d294c18c2","type":"ui_gauge","z":"1baddaabf6511b37","name":"","group":"4c4e8d03fbc642e2","order":4,"width":0,"height":0,"gtype":"gage","title":"Water Level","label":"units","format":"{{value}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1590,"y":1000,"wires":[]},{"id":"9497d0282334d2b8","type":"function","z":"1baddaabf6511b37","name":"Extract Water Level value","func":"context.flow.water  = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1370,"y":980,"wires":[["ebc6b0f23cdf640e","227bc61d294c18c2"]]},{"id":"06624e806d7a26e0","type":"serial out","z":"1baddaabf6511b37","name":"","serial":"99b0633030211818","x":2830,"y":600,"wires":[]},{"id":"1530cb02c72ebba1","type":"http request","z":"1baddaabf6511b37","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/channels/2091882/fields/1/last.json?api_key=88SH981PVMNONNPF","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":2090,"y":540,"wires":[["8c8bd10d39d26b94"]]},{"id":"8c8bd10d39d26b94","type":"function","z":"1baddaabf6511b37","name":"Sending Light value ON or OFF","func":"\nvar data = JSON.parse(msg.payload);\n\n// Extract the value of \"field1\" from the received data\nvar field1Value = data.field1;\n\n// Get the previous value of \"field1\" from context\nvar previousFieldValue = context.get('previousFieldValue') || '';\n\n// Compare the current value to the previous value\nif (field1Value !== previousFieldValue) {\n    // If the values are different, update the context with the new value\n    context.set('previousFieldValue', field1Value);\n\n    // Output the value of \"field1\" as the payload of the message\n    msg.payload = field1Value;\n\n    // Send the message\n    return msg;\n} else {\n    // If the values are the same, do not send a message\n    return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2310,"y":540,"wires":[["06624e806d7a26e0","84febedbdd42724e"]]},{"id":"2d7c4cdbe168f0fb","type":"inject","z":"1baddaabf6511b37","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":1770,"y":600,"wires":[["1530cb02c72ebba1","b28cb4f1435de08c","181decaa445051a0"]]},{"id":"b28cb4f1435de08c","type":"http request","z":"1baddaabf6511b37","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/channels/2132061/fields/1/last.json?api_key=BJLYUMC6PGLJGWSH","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":2070,"y":600,"wires":[["50463a9ddacc4e79"]]},{"id":"50463a9ddacc4e79","type":"function","z":"1baddaabf6511b37","name":"Sending Water Pump ON or OFF","func":"\nvar data = JSON.parse(msg.payload);\n\n// Extract the value of \"field1\" from the received data\nvar field1Value = data.field1;\n\n// Get the previous value of \"field1\" from context\nvar previousFieldValue = context.get('previousFieldValue') || '';\n\n// Compare the current value to the previous value\nif (field1Value !== previousFieldValue) {\n    // If the values are different, update the context with the new value\n    context.set('previousFieldValue', field1Value);\n\n    // Output the value of \"field1\" as the payload of the message\n    msg.payload = field1Value;\n\n    // Send the message\n    return msg;\n} else {\n    // If the values are the same, do not send a message\n    return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2320,"y":600,"wires":[["06624e806d7a26e0","9463938d5b421b64"]]},{"id":"181decaa445051a0","type":"http request","z":"1baddaabf6511b37","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/channels/2132064/fields/1/last.json?api_key=4FSLCQTE6ORM1ZDB","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":2070,"y":660,"wires":[["316ce332cca2f1f3"]]},{"id":"316ce332cca2f1f3","type":"function","z":"1baddaabf6511b37","name":"Sending Fan value ON or OFF","func":"\nvar data = JSON.parse(msg.payload);\n\n// Extract the value of \"field1\" from the received data\nvar field1Value = data.field1;\n\n// Get the previous value of \"field1\" from context\nvar previousFieldValue = context.get('previousFieldValue') || '';\n\n// Compare the current value to the previous value\nif (field1Value !== previousFieldValue) {\n    // If the values are different, update the context with the new value\n    context.set('previousFieldValue', field1Value);\n\n    // Output the value of \"field1\" as the payload of the message\n    msg.payload = field1Value;\n\n    // Send the message\n    return msg;\n} else {\n    // If the values are the same, do not send a message\n    return null;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2310,"y":660,"wires":[["06624e806d7a26e0","21eac2d74e8751b2"]]},{"id":"21201f674655d774","type":"ui_chart","z":"1baddaabf6511b37","name":"","group":"aad2e4f22a3781bc","order":13,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-20","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1610,"y":400,"wires":[[]]},{"id":"6a3e2e8fb99e206d","type":"ui_gauge","z":"1baddaabf6511b37","name":"","group":"aad2e4f22a3781bc","order":4,"width":0,"height":0,"gtype":"gage","title":"DHT11 Temp","label":"units","format":"{{value}}C","min":"-20","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1610,"y":340,"wires":[]},{"id":"fd02c270bbdd1f99","type":"ui_gauge","z":"1baddaabf6511b37","name":"","group":"809b69ea18bf4af4","order":8,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}%","min":0,"max":"101","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1580,"y":260,"wires":[]},{"id":"1cf942badb7ed905","type":"ui_chart","z":"1baddaabf6511b37","name":"","group":"809b69ea18bf4af4","order":15,"width":0,"height":0,"label":"humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1580,"y":220,"wires":[[]]},{"id":"bed4c1505820dc29","type":"debug","z":"1baddaabf6511b37","name":"debug 27","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2310,"y":1240,"wires":[]},{"id":"84febedbdd42724e","type":"debug","z":"1baddaabf6511b37","name":"Light button","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2600,"y":460,"wires":[]},{"id":"9463938d5b421b64","type":"debug","z":"1baddaabf6511b37","name":"Water pump button ","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2600,"y":700,"wires":[]},{"id":"21eac2d74e8751b2","type":"debug","z":"1baddaabf6511b37","name":"Fan button ","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2570,"y":800,"wires":[]},{"id":"99b0633030211818","type":"serial-port","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"88f1d0402e673684","type":"ui_group","name":"LM temp","tab":"6cd89811f6d4f3ef","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4b69b8fbb806518a","type":"ui_group","name":"Soil","tab":"6cd89811f6d4f3ef","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"cf128d67433935a5","type":"ui_group","name":"Light ","tab":"6cd89811f6d4f3ef","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4c4e8d03fbc642e2","type":"ui_group","name":"Water level","tab":"6cd89811f6d4f3ef","order":7,"disp":true,"width":6,"collapse":false,"className":""},{"id":"aad2e4f22a3781bc","type":"ui_group","name":"DHT11 temp","tab":"6cd89811f6d4f3ef","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"809b69ea18bf4af4","type":"ui_group","name":"Humidity","tab":"6cd89811f6d4f3ef","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6cd89811f6d4f3ef","type":"ui_tab","name":"Plantify","icon":"default","order":1,"disabled":false,"hidden":false}]